/************************ Cart ***********************/
  .details-cart{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
  }
  .details-cart .img-cart img{
    width: 150px;
    margin: 20px;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .box-details-cart{
    max-width: 500px;
    width: 100%;
    margin: 20px;
  }
  .box-details-cart h2{
    text-transform: uppercase;
    color: darkblue;
    letter-spacing: 2px;
    font-size: 2rem;
  }
  .box-details-cart button,
  .box-details-cart .cart{
    border: 1px solid #555;
    outline: none;
    background: #333;
    cursor: pointer;
    color: white;
    margin-right: 5px;
    margin-top: 10px;
  }
  .box-details-cart p{
    line-height: 1.5;
    margin: 10px 0;
    opacity: 0.8;
  }
  .box-details-cart h3{
    color: crimson;
  }
  .box-details-cart .cart{
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
  }
  .amount-cart span{
    color: crimson;
    padding: 0 20px;
  }
  .amount-cart .count-cart{
    width: 40px;
    height: 30px;
    border: 1px solid #555;
    outline: none;
    background: #555;
    cursor: pointer;
  }
  .details-cart .delete-cart{
    position: absolute;
    top:0;
    right: 5px;
    color: crimson;
    cursor: pointer;
    font-weight: 900;
  }
  .total-cart{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .total-cart a{
    background: #333;
    color: white;
    padding: 10px 25px
  }
  .total-cart h3{
    margin-right: 50px;
    color: crimson;
  }
  @media (max-width: 700px){
    header{
      justify-content: space-between;
    }
    ul{
      position: fixed;
      top:0;
      left: -100%;
      width: 100%;
      height: 100vh;
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      opacity: 0.98;
      z-index: 99;
      transition: 0.5s ease-in;
    }
    .menu{
      display: block;
      cursor: pointer;
    }
    ul li .menu{
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
  
  @media (max-width: 500px){
    .details-cart{
      padding: 0;
    }
    .details-cart .img-cart{
      height: 350px;
    }
  }
  