/*********************** Header ********************/
header{
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
  }
  ul li{
    list-style: none;
    display: inline-block;
    padding: 0 15px;
  }
  .menu{
    display: none;
  }
  .cart-icon{
    position: relative;
    margin-right: 15px;
  }
  .cart-icon span{
    background: #fadc31;
    border-radius: 40%;
    color: #020202;
    position: absolute;
    top: -9px;
    right: -9px;
    font-size: 12px;
    padding: 5px;
  }