/*********************** Footer ***********************/
footer{
    border-top: 1px solid #cccccc;
    margin-top: 20px;
    padding: 50px;
  }
  footer .footer-copyright{
    text-align: center;
  }
  .faheart{
    color: rgb(238, 48, 48);
  }
  a{
    text-decoration: none;
    text-transform: uppercase;
    color: #252525;
    letter-spacing: 2px;
  }
  a:hover{
    color: #fadc31;
  }