/* ************************ productDetiles ***********************
.details{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
  }
  .details img{
    max-width: 500px;
    min-width: 290px;
    height: 300px;
    display: block;
    object-fit: cover;
    margin: 25px;
  }
  
  .box-details{
    max-width: 500px;
    width: 100%;
    margin: 20px;
  }
  .details .box{
    max-width: 500px;
    min-width: 290px;
    margin: 20px;
  }
  .box h2{
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .box h3{
      color: #be1212;
  }
  .box p{
    line-height: 1.5;
    margin: 15px 0;
  }
  .box .cart{
    background: #333;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
  }
  .box .cart:hover{
    background-color: #fadc31; 
    color: #020202;
   }   */

   .singleItem {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
  }
  
  .singleItem__image {
    max-width: 500px;
    min-width: 290px;
    height: 300px;
    display: block;
    object-fit: cover;
    margin: 25px;
  }
  
  .singleItem__details {
    max-width: 500px;
    min-width: 290px;
    margin: 20px;
  }
  
  .details__title{
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .details__price {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .details__description {
    line-height: 1.5;
    margin: 15px 0;
  }
  
  .details__addBtn {
    width: 45%;
    padding: 10px 17px;
    background: var(--secondary-color);
    color: var(--light-color);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }
  
  .details__addBtn:hover {
    opacity: 0.75;
  }